<!DOCTYPE html>
<html lang="en">
<head>
	<title>GaMon</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../Resources/CSS/style.css">
	<link rel="stylesheet" href="../../Resources/CSS/style_form.css">
    <link rel="icon" href="../../Resources/Images/icon.ico">
	
</head>
<body>
	<header class="main-header">
		<div class="container-header">
			<div class="container-header-content">
				<a href="./login.html">Logout</a>
			</div>
		</div>
		
	</header>
    <div class="text-area">
        <h1>Insert DB</h1>
        <p>
            Here there will be a form from which the admin can input parameters for a query that insert a new row in a table.
        </p>

    </div>
    <div class="text-area">
        <h1>Delete DB</h1>
        <p>
            Here there will be a form from which the admin can input parameters for a query that deletes a row from a table.

        </p>			
    </div>
    <head>    
        <title>Registration Form</title>    
    </head>    
    <body>    
        <link href = "registration.css" type = "text/css" rel = "stylesheet" />    
        <h2>Sign Up</h2>    
        <form name = "form1" action="modified.php" method = "post" enctype = "multipart/form-data" >    
            <div class = "container">    
                <div class = "form_group">    
                    <label>First Name:</label>    
                    <input type = "text" name = "fname" value = "" required/>    
                </div>    
                <div class = "form_group">    
                    <label>Middle Name:</label>    
                    <input type = "text" name = "mname" value = "" required />    
                </div>    
                <div class = "form_group">    
                    <label>Last Name:</label>    
                    <input type = "text" name = "lname" value = "" required/>    
                </div>    
                <div class = "form_group">    
                    <label>Password:</label>    
                    <input type = "password" name = "pwd" value = "" required/>    
                </div>    
            </div>    
        </form>    
    </body>    

    <div class="image-slider">
		<figure>
		<img src="../../Resources/Images/tomberon.jpg" alt="poza">
		
		<img src="../../Resources/Images/trashcans.jpg" alt="poza">

		<img src="../../Resources/Images/teamseas.jpg" alt="poza">
		</figure>
	</div>
	

	


</body>
</html>