<!DOCTYPE html>
<html lang="en">

<head>
	<title>GaMon</title>
	<meta charset="UTF-8">
	<meta name="description" content="This is the Home page of the GaMon Website.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../Resources/CSS/style.css">
	<link rel="prefetch" href="../../Resources/Images/tomberon.jpg">
	<link rel="prefetch" href="../../Resources/Images/trashcans.jpg">
	<link rel="prefetch" href="../../Resources/Images/teamseas.jpg">
	<link rel="icon" href="../../Resources/Images/icon.ico">
</head>

<body>
	<header class="main-header">
		<div class="collumn-flex">
			<div class="row-flex">
				<div class="container-header-content">
					<a href="#">Home</a>
				</div>
				<div class="container-header-content">
					<a href="./recycle.html"> Recycle Events</a>
				</div>
			</div>

			<div class="row-flex">
				<div class="container-header-content">
					<a href="./register.html">Register</a>
				</div>
				<div class="container-header-content">
					<a href="./login.html">Login</a>
				</div>
			</div>
		</div>
	</header>

	<div class="container-text-area">
		<div class="text-area">
			<h1>GaMon</h1>
			<figure>
				<img src="./../../Resources/Images/icon.png" alt="Logo_GaMon">
				<figcaption>GaMon Logo</figcaption>
			</figure>
			<p>
				GaMon is a tool to manage garbage collection in cities, manage reports from users about littering and
				initializing events for increasing awarness about the benefits of recycling.
			</p>
		</div>

	</div>



	<div class="image-slider">
		<figure>
			<img src="../../Resources/Images/tomberon.jpg" alt="poza">

			<img src="../../Resources/Images/trashcans.jpg" alt="poza">

			<img src="../../Resources/Images/teamseas.jpg" alt="poza">
		</figure>
	</div>

</body>

</html>