<!DOCTYPE html>
<html>
<head>
	<title>GaMon</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./CSS/style.css">
	<link rel="prefetch" href="../../Resources/Images/tomberon.jpg">
	<link rel="prefetch" href="../../Resources/Images/trashcans.jpg">
	<link rel="prefetch" href="../../Resources/Images/teamseas.jpg">
</head>
<body>
	<header class="main-header">
	<div class="collumn-flex">
		<div class="row-flex">
			<div class="container-header-content">
				<a href="#">Home</a>
			</div>
			<div class="container-header-content">
				<a href="./recycle.html"> Recycle Events</a>
			</div>
		</div>

		<div class="row-flex">
		<div class="container-header-content">
			 <a href="./register.html">Register</a>
		</div>
		<div class="container-header-content">
			<a href="./login.html">Login</a>
		</div>
		</div>
	</div>
	</header>
	
	<div class="container-text-area">
		<div class="text-area">
			<h1>Problem</h1>
			<p>Sa se creeze o aplicatie Web capabila, pe baza unui API REST/GraphQL propriu, sa gestioneze informatiile privitoare la colectarea, sortarea si reciclarea gunoiului - pe categorii: menajer, hartie, plastic etc. - la nivelul cetateanului, personalului autorizat si factorilor de decizie. Se va oferi suport pentru raportarea de catre utilizatori a locurilor unde s-a acumulat o cantitate substantiala de gunoi, in vederea descongestionarii. Pe unitate de timp (zi, saptamana, luna), vor fi generate rapoarte numerice si grafice - disponibile in formatele HTML, CSV si PDF - referitoare la situatia actuala la nivel de cartier/localitate, evidentiindu-se zonele cele mai curate/mizere. Sistemul va oferi suport si pentru initierea unor campanii de sensibilizare a locuitorilor privitoare la colectarea selectiva a gunoiului si a raportarii incidentelor vizand depozitarea neadecvata a acestuia. Bonus: includerea unui simulator al desfasurarii proceselor de reciclare.</p>
		</div>
		
	</div>

	

	<div class="image-slider">
		<figure>
		<img src="../../Resources/Images/tomberon.jpg" alt="poza">
		
		<img src="../../Resources/Images/trashcans.jpg" alt="poza">

		<img src="../../Resources/Images/teamseas.jpg" alt="poza">
		</figure>
	</div>
	

	


</body>
</html>