<!DOCTYPE html>
<html>
<head>
	<title>GaMon</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
	<header class="main-header">
		<div class="collumn-flex">
		<div class="row-flex">
			<div class="container-header-content">
				<a href="./index.html">Home</a>
			</div>
			<div class="container-header-content">
				<a href="#"> Recycle Events</a>
			</div>
		</div>

		<div class="row-flex">
		<div class="container-header-content">
			 <a href="./register.html">Register</a>
		</div>
		<div class="container-header-content">
			<a href="./login.html">Login</a>
		</div>
		</div>
	</div>
		
	</header>
	
	<div class="container-text-area">
		<div class="text-area">
			<h1>Event Title1</h1>
			<p>
				Here is some details about the event.
				Here is some details about the event.
				Here is some details about the event.
				Here is some details about the event.
			</p>

		</div>
		<div class="text-area">
			<h1>Event Title2</h1>
			<p>
				Here is some details about the event.
				Here is some details about the event.
				Here is some details about the event.
				Here is some details about the event.
			</p>
		</div>
		<div class="text-area">
			<h1>Event Title3</h1>
			<p>
				Here is some details about the event.
				Here is some details about the event.
				Here is some details about the event.
				Here is some details about the event.
			</p>
		</div>
	</div>

	

	<div class="image-slider">
		<figure>
		<img src="../../Resources/Images/tomberon.jpg" alt="poza">
		
		<img src="../../Resources/Images/trashcans.jpg" alt="poza">

		<img src="../../Resources/Images/teamseas.jpg" alt="poza">
		</figure>
	</div>	

	


</body>
</html>