<!DOCTYPE html>
<html lang="en">

<head>
	<title>GaMon</title>
	<meta charset="UTF-8">
	<meta name="description"
		content="This is where everyone can see upcoming or old events regarding garbage collecting activites and othe fun stuff.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../Resources/CSS/style.css">
	<link rel="icon" href="../../Resources/Images/icon.ico">
	<script src="../../Resources/JS/Events.js"> </script>
</head>

<body>
	<header class="main-header">
		<div class="container-header">

			<div class="container-header-content">
				<a href="./index_superuser.html">Home</a>
			</div>
			<div class="container-header-content">
				<a href="#"> Recycle Events</a>
			</div>
			<div class="container-header-content">
				<a href="./superuser.html">My page</a>
			</div>
			<div class="container-header-content">
				<a href="./login.html">Logout</a>
			</div>
		</div>

	</header>

	<div class="container-text-area">

	</div>



	<div class="image-slider">
		<figure>
			<img src="../../Resources/Images/tomberon.jpg" alt="poza">

			<img src="../../Resources/Images/trashcans.jpg" alt="poza">

			<img src="../../Resources/Images/teamseas.jpg" alt="poza">
		</figure>
	</div>




</body>

</html>