<!DOCTYPE html>
<html>
<head>
	<title>GaMon</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../Resources/CSS/style.css">

	<script> 
		function hexToBase64(str) {
  		  return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
		}
		
		const url="/api/getEvents";
		fetch(url).then((response)=>{
			return response.json();
		}).then((data)=>{
			
			const root= document.createElement('div');
			root.classList.add('container-text-area');
			
						
			for(var i=0; i<data.json_agg.length;i++){		
								
				const eventItem= document.createElement('div');
				eventItem.classList.add('text-area');
				
				const eventTitle= document.createElement('h1');
				eventTitle.textContent= data.json_agg.at(i).nume;

				const eventDesc= document.createElement('p');
				eventDesc.textContent=data.json_agg.at(i).descriere;
				
				if(data.json_agg.at(i).image !== null){
					const img= document.createElement('img');
					img.src= 'data:image/jpeg;base64,'  + hexToBase64(data.json_agg.at(i).image);
					eventItem.append(img);
				}

				eventItem.append(eventTitle,eventDesc);
				root.append(eventItem);
			}
			document.body.append(root);
		}).catch(function(err){
			console.log(err);
		})
			
			
			
		

	</script>

</head>
<body>
	<header class="main-header">
		<div class="collumn-flex">
		<div class="row-flex">
			<div class="container-header-content">
				<a href="./index.html">Home</a>
			</div>
			<div class="container-header-content">
				<a href="#"> Recycle Events</a>
			</div>
		</div>

		<div class="row-flex">
		<div class="container-header-content">
			 <a href="./register.html">Register</a>
		</div>
		<div class="container-header-content">
			<a href="./login.html">Login</a>
		</div>
		</div>
	</div>
		
	</header>
	

	<div class="image-slider">
		<figure>
		<img src="../../Resources/Images/tomberon.jpg" alt="poza">
		
		<img src="../../Resources/Images/trashcans.jpg" alt="poza">

		<img src="../../Resources/Images/teamseas.jpg" alt="poza">
		</figure>
	</div>	

	


</body>
</html>